<!DOCTYPE html>
<html lang="en">

<script>
  function previewFile() {
        const preview = document.querySelector('img');
        const file = document.getElementById('fileInput').files[0];
        const reader = new FileReader();
        reader.addEventListener("load", function() {
            preview.src = reader.result; // show image in <img> tag
        }, false);
        if (file) {
            reader.readAsDataURL(file);
            uploadFile(file);
        }
    }

    function uploadFile(file) {
        var file = document.getElementById('fileInput').files[0];
        if (file) {
            var formData = new FormData();
            formData.append('file', file);
            fetch('/api/v1/file/upload', {
                    method: 'POST',
                    body: formData,
                })
                .catch(error => {
                    console.error(error);
                });
        }
    }

    function predictFile() {
        const preview = document.querySelector('img');
        const file = document.querySelector('input[type=file]').files[0];
        const reader = new FileReader();
        var formData = new FormData();
        formData.append('file', file);
        fetch('/api/v1/model/predict', {
                method: 'POST',
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
              document.getElementById("class").innerHTML = "Class No. " + data.class;
              document.getElementById("predict").innerHTML = "이 사진은 [<strong>" + data.predict + "</strong>] 해당하는 사진입니다.";
              document.getElementById("accuracy").innerHTML = "예측 정확도는 <mark>" + data.accuracy + " %</mark> 입니다.";
            })
            .catch(error => {
                console.error(error);
            });
    }
</script>

<style>
  mark { 
    background-color: yellow;
    color: black;
  }
  </style>

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Index - Sesac CNN Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="static/assets/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Sesac CNN
  * Template URL: https://bootstrapmade.com/Sesac CNN-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="static/assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Sesac CNN</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Input</a></li>
          <li><a href="#about">Output</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <div id="hero-carousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

        <!-- Slide 1 -->
        <div class="carousel-item active">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown"><span>새싹 CNN</span> 에 오신 걸 환영합니다.</h2>
            <p class="animate__animated animate__fadeInUp">Cifar 10 데이터셋을 학습한 이미지 분류기입니다.</br> 분류를 원하는 이미지를 업로드 하여주세요.</br>ex) 비행기, 자동차, 새, 고양이, 사슴, 개, 개구리, 말, 배, 트럭만 분류가 가능합니다.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">예측하기</a>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item">
          <div class="carousel-container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Sesac CNN</span></h2>
            <p class="animate__animated animate__fadeInUp">This is an image classifier trained on the Cifar 10 dataset.</br> Please upload the image you want to classify.</br>ex) Only airplanes, cars, birds, cats, deer, dogs, frogs, horses, ships, and trucks. Classification is possible.</p>
            <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">예측하기</a>
          </div>
        </div>

        <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>

      <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
        <defs>
          <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
        </defs>
        <g class="wave1">
          <use xlink:href="#wave-path" x="50" y="3"></use>
        </g>
        <g class="wave2">
          <use xlink:href="#wave-path" x="50" y="0"></use>
        </g>
        <g class="wave3">
          <use xlink:href="#wave-path" x="50" y="9"></use>
        </g>
      </svg>

    </section><!-- /Hero Section -->

    <!-- About Section -->
    <section id="about" class="about section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Input</h2>
        <p>이미지 업로드</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <!-- <form action='/upload' enctype='multipart/form-data' method='post'> -->
              <input name='file' id="fileInput" type='file' onchange="previewFile()">
              <input class="read-more" type='submit' title="예측하기" onclick="predictFile()">
              <!-- </form> -->

            <ul>
              <li><i class="bi bi-check2-circle"></i> <span>한번에 하나의 이미지만 에측할 수 있습니다.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>비행기, 자동차, 새, 고양이, 사슴, 개, 개구리, 말, 배, 트럭만 분류가 가능합니다.</span></li>
              <li><i class="bi bi-check2-circle"></i> <span>100% 정확한 예측은 불가합니다.</span></li>
            </ul>
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <p id="class"></p>
            <p id="predict"></p>
            <p id="accuracy"></p>
            <!-- <div id='predict_image'>
              <img src={{image}} alt="Girl in a jacket" width="500" height="600">
            </div> -->
          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <img src="" height="200" alt="">
            <!-- <div id='predict_image'>
              <img src={{image}} alt="Girl in a jacket" width="500" height="600">
            </div> -->
          </div>

        </div>

      </div>

    </section><!-- /About Section -->


  </main>

  <footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">Sesac CNN</h3>
      <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
      <div class="social-links d-flex justify-content-center">
        <a href=""><i class="bi bi-twitter-x"></i></a>
        <a href=""><i class="bi bi-facebook"></i></a>
        <a href=""><i class="bi bi-instagram"></i></a>
        <a href=""><i class="bi bi-skype"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="container">
        <div class="copyright">
          <span>Copyright</span> <strong class="px-1 sitename">Sesac CNN</strong> <span>All Rights Reserved</span>
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>